# package info
PACKAGE = chemfigit
MAJOR = 0
MINOR = 1
MICRO = 3
TAG = 
AUTHOR = James C. Stroud
EMAIL = jstroud@mbi.ucla.edu
URL = http://chemfigit.bravais.net
LICENSE = BSD
COPYRIGHT = Copyright (c) 2013, James C. Stroud; All rights reserved.
DESCRIPTION = A python utility to process chemfig/tikz/pgf latex files.
